.primary{
	background-color: #2C3E50;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

.Site-content {
  flex: 1;
  width: 100%;
}

.footer{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

/************************/
/* 	    FORM        */
/************************/

.form{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;	
}


/************************/
/* 	    BANNER        */
/************************/

.banner {
	position: relative; /* La position se fait par rapport au bord de l'écran*/
  	text-align: center;
  	color: white;
}

.banner-img{
object-fit: cover; /* permet de resize sans affecter la taille de l'image*/
width: 100%;
height: 400px;
}

.banner-title{
  position: absolute; /* La position se fait par rapport au parent*/
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-content{
  position: absolute; /* La position se fait par rapport au parent*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.banner-btn{
  position: absolute; /* La position se fait par rapport au parent*/
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
